# Naive Bayes

#### Importando bibliotecas

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics  import   accuracy_score 
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import KFold
from sklearn import metrics

plt.style.use('ggplot')
pd.set_option('display.max_columns', 500)

In [2]:
def report_teste(predictions, alg_name):

    print('Resultados para o classificador {0}:'.format(alg_name))
    print(classification_report(y_teste, predictions), 
    print ("Acurácia para o treino é ", accuracy_score(y_teste,predictions)))
    
def report_treino(predictions, alg_name):

    print('Resultados para o classificador {0}:'.format(alg_name))
    print(classification_report(y_treino, predictions), 
    print ("Acurácia para o treino é ", accuracy_score(y_treino,predictions)))

#### Dados

In [3]:
dataset = pd.read_csv('C:\\Users\\Fabiel Fernando\\Desktop\\DADOSPROVA\\classificacao_2.csv')

In [4]:
dataset.head()

,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,target
0,-0.79138,-1.45877,-0.61498,6.39546,-0.19283,-4.92609,3.72728,2.36581,0.60241,2.85597,2.52876,2.09155,0
1,0.79527,-0.14828,0.49140,0.10649,4.32203,-1.55355,-0.62966,-0.27509,4.06300,-1.11079,3.61077,1.11076,0
2,-2.30926,1.59887,1.23513,-4.49395,0.50298,4.10219,0.48356,-0.51920,-1.59507,1.75719,-1.71703,0.92375,1
3,1.97998,-2.71683,-0.73252,3.08358,3.52049,-0.61567,-0.06206,1.33451,0.75546,-1.56391,1.00917,1.66555,0
4,-1.22339,2.38761,-2.15763,-1.91316,1.31427,0.18067,-2.20922,1.43218,1.05498,0.18525,2.91384,-0.03258,1

In [5]:
X = dataset.iloc[:, 0:12].values
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.79138,-1.45877,-0.61498,6.39546,-0.19283,-4.92609,3.72728,2.36581,0.60241,2.85597,2.52876,2.09155
1,0.79527,-0.14828,0.49140,0.10649,4.32203,-1.55355,-0.62966,-0.27509,4.06300,-1.11079,3.61077,1.11076
2,-2.30926,1.59887,1.23513,-4.49395,0.50298,4.10219,0.48356,-0.51920,-1.59507,1.75719,-1.71703,0.92375
3,1.97998,-2.71683,-0.73252,3.08358,3.52049,-0.61567,-0.06206,1.33451,0.75546,-1.56391,1.00917,1.66555
4,-1.22339,2.38761,-2.15763,-1.91316,1.31427,0.18067,-2.20922,1.43218,1.05498,0.18525,2.91384,-0.03258

In [6]:
y = dataset.iloc[:, 12].values
pd.DataFrame(y).head()

   0
0  0
1  0
2  1
3  0
4  1

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features=[0])

In [10]:
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])
onehotencoder = OneHotEncoder(categorical_features=[1])

In [11]:
X[:, 2] = labelencoder_X.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features=[2])

In [12]:
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features=[3])

In [13]:
pd.DataFrame(X).head()

   0  1  2  3
0  0  0  0  1
1  1  0  1  3
2  0  2  0  0
3  1  3  0  0
4  0  2  0  1

In [7]:
print("Dimensão dos nossos dados:\n", 
     dataset.shape)
#print("Tipo de variáveis:\n",
#     dataset.dtypes)

Dimensão dos nossos dados:
 (2500, 13)

#### Pocentagem da variável resposta

In [9]:
resposta = dataset['target']
count = pd.DataFrame(resposta.value_counts())
percent = pd.DataFrame(resposta.value_counts(normalize = True)*100)
table = pd.concat([count, percent], axis = 1)
table.columns = ['# target', '% target']
table

   # target  % target
0      1724     68.96
1       776     31.04

In [16]:
#Descritiva de algumas variáveis
#dataset.describe()

#### Treino e Teste

## Ajustando Naive Bayes

### Separando as k primeiras observações para treino e o restante para teste

In [17]:
X_treino = X[0:499, :]
y_treino = y[0:499, ]


X_teste = X[500:1000, :]
y_teste = y[500:1000, ]

In [18]:
clf = MultinomialNB()
clf.fit(X_treino, y_treino)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

#### Precisão do classificador no Decision Tree

In [19]:
pred_teste = clf.predict(X_teste)
pred_treino = clf.predict(X_treino)

#### Métricas Treino

In [20]:
 report_treino(pred_treino, 'Naive Bayes')

Resultados para o classificador Naive Bayes:
Acurácia para o treino é  0.7835671342685371
             precision    recall  f1-score   support

          0       0.00      0.00      0.00       108
          1       0.78      1.00      0.88       391

avg / total       0.61      0.78      0.69       499
 None

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

#### Métricas Teste

In [21]:
report_teste(pred_teste, 'Naive Bayes')

Resultados para o classificador Naive Bayes:
Acurácia para o treino é  0.76
             precision    recall  f1-score   support

          0       0.00      0.00      0.00       120
          1       0.76      1.00      0.86       380

avg / total       0.58      0.76      0.66       500
 None

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

#### Utilizando Grid Search

In [10]:
from sklearn.model_selection import StratifiedKFold, KFold, LeaveOneOut
cv_kfold = KFold(n_splits=5, shuffle=False, random_state=42)

In [12]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()

parameters = {
    
}

model = GridSearchCV(estimator = clf,
                         param_grid = parameters,
                         scoring = 'accuracy',
                         cv=cv_kfold)

In [13]:
nb_ajust = model.fit(X, y)

In [15]:
predict_nb = nb_ajust.predict(X)
print(metrics.classification_report(y, predict_nb))
print('             Acurácia:',accuracy_score(y, predict_nb))

             precision    recall  f1-score   support

          0       0.83      0.90      0.86      1724
          1       0.72      0.58      0.64       776

avg / total       0.79      0.80      0.79      2500

             Acurácia: 0.7984

In [16]:
predict_nb = nb_ajust.predict(X)
print(metrics.classification_report(y, predict_nb))
print('             Acurácia:',accuracy_score(y, predict_nb))

             precision    recall  f1-score   support

          0       0.83      0.90      0.86      1724
          1       0.72      0.58      0.64       776

avg / total       0.79      0.80      0.79      2500

             Acurácia: 0.7984